html, body {
      margin: 0%;
      padding: 0%;
      width: 100%;
      height: 100vh;
      background: #161616;
}

.wrapper {
      width: 800px;
      height: 600px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.hero-title {
      position: absolute;
      top: 35%;
      left: 30%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: "Cosi Azure";
      font-size: 84px;
}

.hero-title .letter {
      display: inline-block;
      opacity: 0;
}